ul {
  display: flex; /*or inline-flex
  flex-direction: row || column || row-reverse || column-reverse;
  flex-wrap: wrap;warp-reverse
  flex-flow: row wrap;
  justify-content: flex-start || flex-end || center || space-between || space-around
  align-items: flex-start || flex-end || center || stretch || baseline*/

}

li {
  width: 100px;
  height: 100px;
  background-color: #8cacea;
  margin: 8px;
}

