ul {
  display: flex;
  border: 1px solid red;
    padding: 0;
    list-style: none;
    justify-content: space-between;
    align-items: flex-start; /*affects all flex-items*/
    min-height: 50%;
    background-color: #e8e8e9;
      /*or inline-flex
      flex-direction: row || column || row-reverse || column-reverse;
      flex-wrap: wrap;warp-reverse
      flex-flow: row wrap;
      justify-content: flex-start || flex-end || center || spa
      -between || space-around
      align-items: flex-start || flex-end || center || stretch ||
      baseline*/
}


li {
  width: 100px;
  height: 100px;
  background-color: #8cacea;
  margin: 8px;
  flex: 0 1 auto;
  /*flex-grow: 1;
    flex-basis: 150px;
    flex-shrink: 1;
    relative flex? vs Absloute? */
}


/*select first li element within the ul */
    
li:nth-child(1) {
  order: 1; /*give it a value higher than 0*/
}


li:first-of-type {
    align-self: auto /*|| flex-start || flex-end || center || baseline || stretch*/
}